# Escape Characters

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [2]:
#Example

# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (<ipython-input-2-6f21fd4c14c6>, line 5)

To fix this problem, use the escape character \":

In [3]:
# Example

# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# Escape Characters

Other escape characters used in Python:

Code            Result

\	         Single Quote

\\\	           Backslash

\n	           New Line	

\r	         Carriage Return	

\t	             Tab	

\b	           Backspace	

\f	           Form Feed	

\ooo	      Octal value	

\xhh          Hex value

In [4]:
# Single Quote

txt = 'It\'s alright.'
print(txt)

It's alright.

In [5]:
# Backslash

txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [6]:
# New Line

txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [7]:
# Carriage Return

txt = "Hello\rWorld!"
print(txt)

World!

In [8]:
# Tab

txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [9]:
#This example erases one character (backspace):

txt = "Hello \bWorld!"
print(txt)

Hello World!

In [10]:
#A backslash followed by three integers will result in a octal value:

txt = "\110\145\154\154\157"
print(txt)

Hello

In [11]:
#A backslash followed by an 'x' and a hex number represents a hex value:

txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello